@use "../../_styles/variables" as *;

.container {
  display: grid;
  grid-template-rows: 6rem 1fr;
  height: 100vh;
  background-color: var(--color-grey-light-1);
}

.content {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.main {
  flex: 1;
  overflow-y: auto;
  background-color: var(--color-grey-light-1);
}